#left-column {
    width: 900px;
    font-size: 18px;
}

#right-cloumn p {
    font-size: 9pt;
}

div.group-list {
}

#left-column ul {
    padding: 0px;
}


ul.tags {
    padding: 0px;
    margin-bottom: 30px;
}

ul.tags li {
    display: inline-block;
    margin-right: 22px;
}


ul.groups li {
    display: inline-block;
    margin: 10px 10px;
    width: 45%;
}

.group-item .pic {
    float: left;
    padding-right: 10px;
}

.group-item .info {
    overflow: hidden;
    font-size: 12px;
}

#right-column li {
    margin-top: 0px;
}


a {
  text-decoration: none;
  color: #585858;
}

a:hover {
  color: purple;
}

#right-column {
    float: right;
}
