#left-column {
    width: 900px;
}


#left-column li {
  display: inline;  
  margin-right: 20px;
  height: 800px;
}

#content {
    margin-top: 25px;
}

#right-column ul {
    margin-top: 0px;
}


#right-column li {
    margin-top: 0px;
    font-size: 8pt;
}


#no-group {
    font-size: 8px;
}
div.note {
    height: 150px;
}

div.note h3 {
    color: black;
}

div.note img {
    float: left;
    margin-right: 15px;
}

div.note p {
    font-size: 12pt;
    color: #565656;
}

a {
  text-decoration: none;
  color: #585858;
}

a:hover {
  color: purple;
}

#right-column {
    float: right;
}
