#group-headline {
    line-height: 70px;
    margin-bottom: 3px;
}

#group-headline img {
    width: 70px;
    height: 70px;
    float: left;
    vertical-align: middle;
    padding-right: 10px;
}

#group-headline h2{
    display: inline;
    margin-right: 20px;
}

div.left-column {
    width: 700px;
}

div.group-info {
    background-color: #CEDFEC;
}

div.group-info div {
    padding: 10px;
}

div.group-info input {
    margin-right: 15px;
    margin-bottom: 5px;
}

div.right-column {
    float: right;
}

div.group-topic-bar {
    margin-top: 10px;
    padding: 1em;
}

div.group-topic-bar em {
    font-size: 20px;
}

div.group-topic-bar .to-right {
   float: right; 

}

div.group-topic-list table{
    width:100%;
}


div.group-topic-list tr{
    background-color: rgb(239, 239, 248);
    margin-bottom: 3px;
    padding: 0;
}


div.group-topic-list td {
    border: none;
    margin: 0;
}

div.group-topic-list a{
   font-family: cursive;
   text-decoration: none; 
}

td.td_title {
   width: 70%;
}

td.td_title a {
   color: rgb(105, 216, 105);
}

td.td_title a:hover {
   color: green;
}


td.td_count {
    width: 15%;
}

td.td_author {
    width: 15%;
}
