* {
	font-family: "Verdana", "Geneva", sans-serif;
}

h1 {
	font-size:20px;
	font-weight:bold;
	color:#0066FF;
	padding-top:6px;
}


img {
	margin-top:2em;
}

#nav, #resources {
	width:auto;
	margin-bottom:1em;
	overflow:hidden;
}

#login, #signup{
	background-color:#66CC99;
	padding:1em 1em 1em 1em;
	border:0.5px #66CC99;
	margin-top:2em;
}

#login {
	width:35%;
	float:right;
	margin-left:5px;
	height:12em;
}

#signup{
	width:57%;
	float:left;
	height:12em;
}


#sub,button {
	border:0px none;
	width:4em;
	height:2em;
	background-color:#3366FF;
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
	margin-left:6.2em;
}

span {
	padding-right:5px;
	float:left;
	width:8em;
}

.entry {
	padding-top:20px;
}

#public-topics, #groups{
	border:2px solid #999933;
	padding:0em 1em 1em 1em;
	overflow:hidden;
	margin-bottom:1em;
}

li {
	margin-left:1em;
}

#out {
	float:right;
	margin:1em 1em 0em 0em;
	padding:0.8em;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#333333;
}

.tips {
	color:red;
	visibility:hidden;
	margin-left:0.5em;
	font-size:10px;
}
