
* {
	font-family: "Verdana", "Geneva", sans-serif;
}


img {
	margin-top:2em;
}

#content {
	margin-top:2em;
}

span {
	font-weight:bold;
	padding-right:5px;
	float:left;
	width:8em;
}

.entry {
	margin-bottom:2em;
	padding:2px 2px 2px 2px;
}

#sub {
	width:4em;
	height:2em;
	background-color:#3366FF;
	color:#FFFFFF;
	font-size:24px;
	margin-left:6.2em;
}

.content {
	margin-left:8.2em;
	margin-top:1.5em;
}

h1 {
	font-size:20px;
	display:block;
}

.review {
	margin-top:1em;
}

h2,.rcontent {
	color:#0066FF;
	display:block;
}

.rcontent {
	margin-left:3em;
}

input[type="text"],textarea,label {
	display:block;
}

#out {
	float:right;
	margin:1em 1em 0em 0em;
	padding:0.8em;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#333333;
}