
/* body */
#wrapper{
	margin: auto;
	overflow: hidden;
	font-size: 15pt;
	font-family: Tahoma, Verdana, sans-serif;
}

h1{
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

#up, #down{
	margin: 1em;
	height: 30em;
	/*
	border: 2px solid gray;*/
}

#stitle{
	font-weight: bold;
	text-align: center;
	border: 2px solid green;
	padding: none;
	margin: none;
}

#profile{
	width: 25em;
	float: left;
}

#profile #stitle{
	text-align: left;
}

#friends, #groups{
	width: 12em;
	float: left;
}

#resources{
	width: 25em;
	float: left;
}

#notes{
	width: 15em;
	float: right;
}

#public_profile{
	text-align: center;
}
